## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Web
node_modules/
wwwroot/lib/

## Others
*.log
*.sqlite
*.db
.env
